body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: gray;
}
ul {
    list-style: none;
    padding-left: 0%;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    background-color: black;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: white;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}
#avatar {
    width: 100%;
    height: 50%;
}
.section {
    width: 100%;
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid black;
}
.section-title {
    margin-bottom: 20px;  
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.section-profile {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    margin-bottom: 0px;
}
.rss {
    background: url(/assets/svg/rs_school.svg) right no-repeat;
}
